/***********BOUTONS***********/

button {
    color: black;
    background-image: none;
    background-color: #EDEDED;
    border: none;
}

<<<<<<< HEAD:white.css
label {
    color: #00609B;
}

.titre {
    color: #009BDB;
    font-weight: bolder;
    background: none;
}

button label {
    color: #00609B;
}

=======
>>>>>>> e94819c9e694e3785d7175f1943071148018c5d1:css/white.css
button:hover {
    background-image: none;
    background-color: rgb(223, 223, 223);
}

button:hover label {
    color: #00609B;
}

button:active {
    background-image: none;
    background-color: silver;
}

button:active label {
    color: white;
}

/***********LABELS***********/

label {
    color: #00609B;
    font-weight: normal;
}

.titre {
    color: #009BDB;
    font-weight: bolder;
    background-color: white;
}

/***********COMBOS***********/

.combo{
    color: black;
}
  
window {
    background-image:none ;
    background-color: #FEFEFE;
}
  