
button {
  color: #22222D;
  background-image:none ;
  background-color: #22222D;
  border: none;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
.titre {
  color: gray;
  background: none;
}

.combo{
  color: gray;
}
button:hover {
  background-color: #111117;
}

button:hover label {
  color: gray;
}

button:active {
  background-color: gray;
}

button:active label {
  color: white;
}

 window {
  background-image:none ;
    background-color: #333344;
  }
