
button {
  color: gray;
  background-image:none ;
  background-color: gray;
}

label {
  font-size: 25px;
  color: black;
}

button:hover {
  background-color: darkblue;
}

button:hover label {
  color: gray;
}

button:active {
  background-color: black;
}

button:active label {
  color: white;
}

 window {
    background-color: rgb(66, 66, 66);
  }
