 button {
    color: #fdba9a ;
    background-image:none ;
    background-color: #fdba9a;
  }
  
  label {
    font-size: 15px;
    color: black;
  }
  
  button:hover {
    background-color: #c81912;
  }
  
  button:hover label {
    color: gray;
  }
  
  button:active {
    background-color: #42240c;
  }
  
  button:active label {
    color: white;
  }
  
   window {
      background-color: #f64b3c;
    }