 button {
    color: #78202C;
    background-image:none ;
    background-color: #78202C;
    border: none;
  }
  
  label {
    font-size: 15px;
    color: #0D0909;
    font-weight: bolder;
  }

  .titre {
    color: darkred;
    font-weight: bolder;
  }
  button:hover {
    background-color: #6B0A17;
  }
  
  button:hover label {
    color: black;
  }
  .combo{
    color: darkred;
  }
  
  button:active {
    background-color: #242020;
  }
  
  button:active label {
    color: white;
  }
  
   window {
    background-image:none ;
      background-color: #84343F;
    }