
button {
    color: black;
    background-image:none ;
    background-color: lightgoldenrodyellow;
}

label {
    color: black;
}

.titre {
    color: orange;
    font-weight: bolder;
}

button:hover {
    background-color: gold;
}

button:hover label {
    color: black;
}

button:active {
    background-color: blue;
}

button:active label {
    color: white;
}
  
window {
    background-color: whitesmoke;
}
  